<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class UP</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-dark bg-dark sticky-top d-flex align-items-center">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Class Up</a>
            
            {% if current_user %}
            <ul class="nav">
            <li class="nav-item">
                <a href="#">
                <button type="button" class="btn">
                    <img src="{{current_user.avatar_url}}" class="rounded-circle"
                    height="28" alt="">
                </button>
                </a> 
            </li>
            <li class="nav-item">
                <a href="/logout"><button type="button" class="btn btn-danger">Log Out</button></a>
            </li>
            </ul>
            {% else %}
            <ul class="nav">
                <li class="nav-item">
                    <a href="#">
                    <button type="button" class="btn">
                        <img src="none" class="rounded-circle"
                        height="30" alt="">
                    </button>
                    </a> 
                </li>
                <li class="nav-item">
                    <a href="{{oauth_url}}"><button type="button" class="btn btn-success">Login</button></a>
                </li>
                </ul>
            {% endif %}
        </div>
    </nav>
        <div class="container text-center align-items-center " style="padding-top: 100px;"> 
            <div class="row ">
                <div class="col">
                    <h1>Teaching discussion system</h1>
                    <h1>on Discord Community</h1> 
                    <form action="">
                        <div class="col">
                            <div class="container text-center">
                                <div class="row" style="padding-top: 10px;">
                                    <div class="d-inline-block">
                                        <a href="https://discord.com/api/oauth2/authorize?client_id=1157964951042920578&permissions=8&scope=applications.commands+bot"><button type="button" class="btn btn-primary btn-lg" style="width: 180px;">Invite</button></a>
                                        
                                    </div>
                                </div>
                                {% if current_user %}
                                <div class="row" style="padding-top: 10px;">
                                    <div class="d-inline-block">
                                        <a href="/manage/view"><button type="button" class="btn btn-secondary btn-lg" style="width: 180px;">Manage</button></a>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row" style="padding-top: 10px;">
                                    <div class="d-inline-block">
                                        <a href="/manage/view"><button type="button" class="btn btn-success btn-lg " style="width: 180px;" disabled>Manage</button></a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>    
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<!--
    {% if current_user %}
        <img src="{{current_user.avatar_url}}" style="width: 100px; height: 100px; border-radius: 50%;" alt="">
        <p>Login as {{current_user.username}}#{{current_user.discriminator}}</p>
        <p>Guilds : </p>
        <ul>
            {% for guild in guilds %}
                <img src="{{guild.owner}}" style="width: 50px; height: 50px;" alt="">
                <li>{{guild.name}}</li>
            {% endfor %}
        </ul>
        <a href="/logout"><button>Logout</button></a>
    {% else %}
        <a href="{{oauth_url}}"><button>Login with discord</button></a>
    {% endif %}
-->
</body>
</html>