<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class UP</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .form-container {
            display: none;
        }

        .active {
            display: block;
        }

        .set1 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark sticky-top d-flex align-items-center">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Class Up</a>
            
            {% if current_user %}
            <ul class="nav">
            <li class="nav-item">
                <a href="#">
                <button type="button" class="btn">
                    <img src="{{current_user.avatar_url}}" class="rounded-circle"
                    height="28" alt="">
                </button>
                </a> 
            </li>
            <li class="nav-item">
                <a href="/logout"><button type="button" class="btn btn-danger">Log Out</button></a>
            </li>
            </ul>
            {% else %}

            {% endif %}
        </div>
    </nav>
    <div class="container text-center" style="padding-top: 100px;"> 
        <div class="row ">
            <div class="col-4 card">
                {% for guild in current_guild %}
                <div class="row">
                    <div class="col d-flex align-items-center">
                      <img src="{{guild.icon_url}}" class="img-thumbnail" alt="..." style="width: 100px;height: 100px;">  
                    </div>
                    <div class="col d-flex align-items-center">
                        <h5>{{guild.name}}</h5>
                    </div>
                </div>
                {% endfor %}
                <div class="row set1">
                    <button class="btn btn-primary" type="button" onclick="showForm('from1')">ตั้งค่า Bot</button>
                </div>
                <div class="row set1">
                    <button class="btn btn-primary" type="button" onclick="showForm('from2')">จัดการฐานข้อมูล</button>
                </div>
                <div class="row set1">
                    <button class="btn btn-primary" type="button" onclick="showForm('from3')">จัดจารางเรียน</button>
                </div>
                <div class="row set1">
                    <button class="btn btn-primary" type="button" onclick="showForm('from4')">ลงทะเบียน</button>
                </div>
                
                
            </div>  
            <div class="col-8 card">

                <div id="from1" class="form-container active">
                    <form class="row" action="#">
                        <div class="col">
                            <label for="validationServerUsername" class="form-label">ตั้งค่า Prefix</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="validationServerUsername" placeholder="กรุณาใส่ตัวอักษร ยกเว้น @ และ #">
                            </div>

                            <label for="validationDefault04" class="form-label">การโต้ตอบของ Bot</label>
                            <select class="form-select" id="validationDefault04" required onchange="showDiv()">
                                <option selected disabled value="-">Choose...</option>
                                <option value="1">ปิดการโต้ตอบ</option>
                                <option value="2">ทุกช่องที่สามารถโต้ตอบได้</option>
                                <option value="3">โต้ตอบได้แค่บางช่องเท่านั้น</option>
                            </select>

                            <div id="select-1" style="display: none;">
                                <label for="selecterfrom" class="form-label">กรุณาระบุ ช่องแชทที่ต้องการโต้ตอบ</label>
                                {% for channel in channels %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">{{channel.name}}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>

                <div id="from2" class="form-container">
                    <form class="row" action="#">
                        <div class="col">
                            

                        </div>
                    </form>
                </div>

                <div id="from3" class="form-container">
                    <label for="table-study" class="form-label">จัดจารางเรียน</label>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">รหัสวิชา</th>
                            <th scope="col">ชื่อวิชา</th>
                            <th scope="col">วันที่เรียน</th>
                            <th scope="col">เวลา</th>
                            <th scope="col">ห้องเรียน</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">00000000</th>
                            <td>Project</td>
                            <td>อาทิตย์</td>
                            <td>09:00 - 19:30</td>
                            <td>-</td>

                          </tr>
                        </tbody>
                    </table>
                    
                      <div class="row" style="padding-top: 10px;">
                        <div class="d-inline-block">
                            <button type="button" class="btn btn-primary btn-lg" style="width: 180px;">ยืนยัน</button>
                            <button type="button" class="btn btn-primary btn-lg" style="width: 180px;">แก้ไข</button>
                            <button type="button" class="btn btn-primary btn-lg" style="width: 180px;">ล้าง</button> 
                        </div>
                        
                        </div>  
                    
                </div>
                
                <div id="from4" class="form-container active">
                    <form class="row" action="#">
                        <div class="col">
                            <label for="validationDefault04" class="form-label">กรุณาเลือก Chanel ให้มี function ทะเบียน</label>
                            <select class="form-select" id="validationDefault04" required onchange="showDiv()">
                                <option selected disabled value="-">Choose...</option>
                                <option value="1">ปิดการโต้ตอบ</option>
                                {% for channel in channels %}
                                <option value="{{channel.id}}">{{channel.name}}</option>
                                {% endfor %}
                            </select>

                            <div id="select-1" style="display: none;">
                                <label for="selecterfrom" class="form-label">กรุณาระบุ ช่องแชทที่ต้องการโต้ตอบ</label>
                                {% for channel in channels %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">{{channel.name}}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            
        </div>
    </div>

    <script>
        function showForm(formId) {
            // Hide all forms
            var forms = document.querySelectorAll('.form-container');
            forms.forEach(function(form) {
                form.classList.remove('active');
            });

            // Show the selected form
            var selectedForm = document.getElementById(formId);
            selectedForm.classList.add('active');
        }

        function showDiv() {
            var selectedValue = document.getElementById('validationDefault04').value;

            // Hide all divs
            document.querySelectorAll('[id^="select-"]').forEach(function (div) {
                div.style.display = 'none';
            });

            // Show the selected div
            if (selectedValue === '3') {
                document.getElementById('select-1').style.display = 'block';
            }
            // Add more conditions for other values as needed
        }
    </script>
</body>
</html>